<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs', { csrfToken: csrfToken }) %>
    <h1>An Error Occured!</h1>
    <p>We're working on fixing this, sorry for the inconvenience!</p>

<%- include('includes/end.ejs') %>